@font-face {
    font-family: 'tron';
    src: url('vendor/Tr2n.ttf');
}

html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#bg {
  volume: 0.5;
}
