html {
  background-image: url('http://img4.wikia.nocookie.net/__cb20120730200249/ipod/images/6/65/Earth_and_Moon.jpg');
}

.canvas {
  border: 10px solid white;
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
